body {
  margin: 0;
  overflow: hidden;
}

.animated-div {
  width: 100px;
  height: 100px;
  background-color: black;
  animation: animatieDiv2 10s ease-out infinite;
}

@keyframes animatieDiv2 {
  0% {
    transform: translateY(calc(100vh - 100px));
  }
  25% {
    transform: translateX(calc(100vw - 100px));
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translate(calc(100vw - 100px), calc(100vh - 100px));
  }
  100% {
    transform: translateX(0);
  }
}
